footer {
  display: flex;
  background-color: #152d5d;
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

footer:hover {
  opacity: 1;
  pointer-events: auto;
}

footer h3 {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
  font-size: 0.9rem;
}
